*{
padding: 0;
margin: 0;
box-sizing: border-box;

}


table,th,td,tr,form{
    border: 1px solid black;
    border-collapse: collapse;
}

.div1{
    background-color: blue;
    color: beige;
    min-width: 50px;
    height: 50px;
    display: inline-block;
}
.div2{
    background-color: pink;
    color: black;
    width: 150px;
    height: 150px;
    display: inline-block;
}
.div3{
    background-color: rgb(192, 255, 199);
    color: black;
    width: 80px;
    width: 80px;
    display: inline-block;
    
}

nav a{
    display: block;
}

header{
    border: 1px solid red;
    border-radius: 10px;
    border-left: 20px solid red;
    background: lightblue;
    margin: 10px 25px 0px 30px;
    padding: 10px;

}
.container{
    border: 5px solid purple;
    padding: 15px;
    display: flex ;
    /*width: 500px;*/
    height: 800px;
    flex-direction: row;
    justify-content: space-between; /*alinhamento eixo y center space between x*/
    align-items: center;
    flex-wrap: wrap;
    

}
.vermelho{
     background-color: red;
     width: 150px;
     height: 50px;
}
.verde{
    background-color: green;
    width: 450px;
    height: 50px;
}
.azul{
    background-color: blue;
    width: 150px;
    height: 50px;
}